.MainContainer{
    width: calc(24%);
    
    height: 180px;
    
    
    background-color: #FBFCFF;
    
    
    border: 1px solid #F8F8F8;
    box-sizing: border-box;
    
    box-shadow: 1px 4px 5px rgb(0 0 0 / 10%);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    cursor: pointer;
    font-size: 1.2rem;
    color: #1A1E32;
    transition: all 0.5s ease-in-out;
}
.MainContainer:hover{
    transform: scale(1.1);
    background-color: #FA7267;
    color: #FAFAFB;
}
