.App{
  display: flex;
  flex-direction: row;
  width: 100%;
}
header{
  width: 20%;
    height: auto;
}
main{
  width: 80%;
  margin-top: 0%;
  margin-left: 9%;
  margin-right: 5%;
  padding: 1rem;
}